
DATABASE_URL="postgres://username:password@localhost:portnumber/dbname"

#CLERK
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in

#CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_CLOUDINARY_API_KEY=000000000003763

#OPENAI API KEY
OPENAI_API_KEY=sk-proj-eK2...

#STRIPE
STRIPE_SECRET_KEY=sk_test_51S...
STRIPE_WEBHOOK_SECRET=whsec_2d1...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51S...

#STRIPE PLANS
STRIPE_PRICE_FREE=price_1...
STRIPE_PRICE_PLUS=price_1...
STRIPE_PRICE_PRO=price_1...

#NEXT PUBLIC URL
NEXT_PUBLIC_APP_URL=http://localhost:portnumber